* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: #F4F5F5;
  font-family: "Catamaran", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a:link,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.flexbox > * {
  flex: 1 1 auto;
  margin: 1rem;
}

.flexbox.column {
  flex-direction: column;
}

.flexbox.row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flexbox.space-between {
  justify-content: space-between;
}

.flexbox.space-evenly {
  justify-content: space-evenly;
}

.flexbox.start {
  justify-content: flex-start;
}

.flexbox.end {
  justify-content: flex-end;
}

.flexbox.stretch {
  justify-content: stretch;
}

.flexbox.stretchX {
  align-items: stretch;
}

.flexbox.endX {
  align-items: flex-end;
}

.flexbox.startX {
  align-items: flex-start;
}

.grow-1 {
  flex: 1 1 auto;
}

.grow-2 {
  flex: 2 1 auto;
}

.grow-3 {
  flex: 3 1 auto;
}

.item-center {
  align-self: center;
}

.item-start {
  align-self: flex-start;
}

.item-shrink {
  flex-shrink: 2;
}

header {
  text-align: center;
  font-size: 1.2rem;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

header a:link,
header a:active,
header a:focus,
header a:hover,
header a:visited {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 1.5rem;
  }

  header a:link,
  header a:active,
  header a:focus,
  header a:hover,
  header a:visited {
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
}

.usual-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.usual-header > * {
  flex: 1 1 auto;
  margin: 1rem;
}

.usual-header figure div,
.usual-header .description {
  margin: 0;
}

.small-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-header > * {
  flex: 1 1 auto;
  margin: 0.5rem;
}

.small-header .description {
  font-size: 0.5rem;
}

.small-header nav {
  width: 100%;
}

.small-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.small-header nav ul > * {
  flex: 1 1 auto;
}

.small-header nav .button {
  padding: 0.1rem;
  margin: 0.1rem;
}

@media screen and (min-width: 768px) {
  .small-header {
    padding: 0 25%;
  }

  .small-header .description {
    font-size: 1rem;
    white-space: nowrap;
  }
}

.bg-orange {
  background: radial-gradient(66.72% 853.42% at 95.94% 15.63%, rgba(255, 111, 8, 0.95) 0%, rgba(153, 51, 0, 0.95) 60.83%);
  color: #fff;
}

.bg-orange2 {
  background: radial-gradient(72.64% 100% at 33.91% 0%, #FF6F08 0%, #993300 100%);
  color: #fff;
}

.bg-tirkizs {
  background: #2E5E65;
  color: #fff;
}

.bg-yellow {
  background: radial-gradient(72.64% 100% at 33.91% 0%, #FCB70A 0%, #FC610A 100%);
  color: #642b22;
}

.bg-green {
  background: radial-gradient(72.64% 100% at 33.91% 0%, #A7E269 0%, #368034 100%);
  color: #F4F5F5;
}

.bg-red {
  background: radial-gradient(72.64% 100% at 33.91% 0%, #E72C43 0%, #85212D 100%);
  color: #F4F5F5;
}

.orange {
  color: #993300;
  border-color: #993300;
}

.red {
  color: #642b22;
  border-color: #642b22;
}

.green {
  color: #8ac05f;
  border-color: #8ac05f;
}

.green2 {
  color: #152b04;
  border-color: #152b04;
}

.border-px5 {
  border: 5px solid;
}

.border-px15 {
  border: 15px solid;
}

.vh100 {
  min-height: 100vh;
}

.width100 {
  width: 100%;
}

.maxWidth1024 {
  max-width: 1024px;
  margin: auto;
}

.maxWidth768 {
  max-width: 768px;
  margin: auto;
}

.maxWidth512 {
  max-width: 512px;
  margin: auto;
}

.maxWidth128 {
  max-width: 128px;
  margin: auto;
}

.marginBottom-px15 {
  margin-bottom: 15px;
}

.margin {
  margin: 1rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.justify {
  text-align: justify;
}

.indent {
  text-indent: 1rem;
}

.box-shadow {
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
}

.button {
  display: block;
  cursor: pointer;
  border: 1px solid;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
}

.button.green {
  color: #152b04;
}

.button.bg-green {
  background: #8ac05f;
}

@media screen and (min-width: 768px) {
  .vh100 {
    min-height: 50vh;
  }
}

@media screen and (min-width: 480px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 1024px;
}

.section-container {
  margin: auto;
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.section-container > * {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .section-container {
    min-height: 50vh;
    flex-direction: row;
  }

  .container {
    max-width: 1024px;
  }
}

.list {
  text-align: center;
}

.list h2 {
  font-size: 1.8rem;
}

.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list li > * {
  flex: 1 1 auto;
  margin: 1rem;
}

@media screen and (min-width: 640px) {
  .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .list > * {
    flex: 1 1 auto;
    margin: 1rem;
  }

  .list li h2,
  .list li p {
    margin: 0.5rem;
  }

  .list li .description {
    max-width: 320px;
  }
}

.flip-flop {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.flip-flop .media,
.flip-flop .content {
  max-width: 768px;
}

.flip-flop .media img {
  width: 100%;
}

.flip-flop > * {
  flex: 1 1 auto;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .flip-flop {
    min-height: 50vh;
    flex-direction: row;
  }

  .flip-flop .media {
    flex: 1 1 50%;
    align-self: center;
  }

  .flip-flop .content {
    flex: 1 1 50%;
    align-self: center;
  }
}

.content {
  text-align: justify;
  font-size: 1.2rem;
}

.content p {
  text-indent: 1rem;
}

@media screen and (min-width: 768px) {
  .content {
    font-size: 1.5rem;
  }

  .content h1 {
    font-size: 3.5rem;
  }
}

.section-body {
  text-align: justify;
  font-size: 1.2rem;
}

.logo img {
  display: inline;
}

.title-nav a,
.title-nav h1 {
  padding: 0 0.5rem;
  color: inherit;
  width: 100%;
}

.title-nav a {
  font-size: 1rem;
}

.product-nav {
  max-width: 300px;
  margin: auto;
  overflow: auto;
}

@media screen and (max-width: 319px) {
  .ieFIXwidth {
    max-width: 200px;
  }
}

.ieFIXgrowShrink0 {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  -ms-flex-negative: 0;
}

